@model List<EcommerceAdmin.Models.Entity.Ent_Category>
@{
    List<EcommerceAdmin.Models.Entity.Ent_Product> listProduct = ViewBag.listProduct;
    List<EcommerceAdmin.Models.Entity.Ent_Brand> listBrand = ViewBag.listBrand;
    List<EcommerceAdmin.Models.Entity.Ent_SubCategory> listSubCategory = ViewBag.listSubCategory;
    var CategoryName = ViewBag.CategoryName;
    var CategoryID = ViewBag.CategoryID;
    var SubCategoryID = ViewBag.SubCategoryID;
    var SubCategoryName = ViewBag.SubCategoryName;
}


<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area">
    <div class="container">
        
          <img style="padding-left:200px" src="../../assetsclient/img/error.png" />
       
       
    </div>
</div>
<!--shop  area end-->
