
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<script src="~/Scripts/ajax/register.js"></script>
<style>
    .inputValid {
        color: #dd4b39;
    }
</style>
  <!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Login</li>
                    </ul>
                    <span style="margin:auto; display:table;color:red" id="spanMsg">
                      
                    </span>
                    <span style="margin:auto; display:table;color:deeppink;font-size:large" >
                        @ViewBag.Msg
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login mt-32">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>login</h2>
                    <form action="#">
                        <p>
                            <label>Username or Email <span>*</span></label>
                            <input type="text" id="Username">
                            <span class="help-block inputValid" id="validUsername"></span>
                        </p>
                        <p>
                            <label>Password <span>*</span></label>
                            <input type="password" id="Password">
                            <span class="help-block inputValid" id="validPass"></span>
                        </p>
                        <div class="login_submit">
                            <a href="#">Lost your password?</a>
                            <button type="button" id="btnLogin">login</button>
                            <!--once logged in -> go to my-account.html-->
                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->
            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>Register</h2>
                    <form action="#">
                        <p>
                            <label>First Name <span>*</span></label>
                            <input type="text" autocomplete="off" id="FName">
                            <span class="help-block inputValid" id="validFName"></span>
                        </p>
                        <p>
                            <label>Last Name <span>*</span></label>
                            <input type="text" autocomplete="off" id="LName">
                            <span class="help-block inputValid" id="validLName"></span>
                        </p>

                        <p>
                            <label>Email address <span>*</span></label>
                            <input type="text" autocomplete="off" id="REmail">
                            <span class="help-block inputValid" id="validEmail"></span>
                        </p>
                        <p>
                            <label>Password <span>*</span></label>
                            <input type="password" autocomplete="off" id="RPassword">
                            <span class="help-block inputValid" id="validPassword"></span>
                        </p>
                        <p>
                            <label>Phone <span>*</span></label>
                            <input type="text" autocomplete="off" id="Phone">
                            <span class="help-block inputValid" id="validPhone"></span>
                        </p>
                        <div class="login_submit">
                            <button type="button" id="btnRegister">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->
