
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    var Order_ID = ViewBag.Order_ID;
}

<script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.6.0/js/gosell.js"></script>

<!--shop  area start-->
<div class="shop_area">
    <div class="container">
        <p id="Result"></p>
        <div id="root"></div>


    </div>
</div>
<!--shop  area end-->
<script>
  
    goSell.showResult({
        callback: response => {
            console.log("callback", response);            
            var status = response.callback["status"];
            if (status == "CAPTURED") {                
                $('#Result').html("Payment Successful");      

               
            }
            else {
                $('#Result').html("Payment Failed");              
            }

            $.ajax({
                type: "POST",
                url: "/Order/UpdatePayment",
                data: "{'Order_ID':'" + @Order_ID + "','Payment_Status':'" + status +"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () { $("#loader").css("display", "block"); },
                complete: function () { $("#loader").css("display", "none"); },
                success: OnSuccessSaveCall,
                error: OnErrorSaveCall
            });

            function OnSuccessSaveCall(data) {
                if (data > "0") {
                    console.log(data);
                }
                else {
                    return 0;
                }
            }

            function OnErrorSaveCall() {
                return 0;

            }
        }
    });
</script>

