
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    var Order_ID = ViewBag.Order_ID;

    HttpCookie Guest_ID = Request.Cookies["Guest_ID"];
    int GuestID = Guest_ID != null ?Convert.ToInt32(Guest_ID.Value.Split('=')[1]) : 0;
}

<script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.6.0/js/gosell.js"></script>

<!--shop  area start-->
<div class="shop_area">
    <div class="container">
        <p id="Result"></p>
        <div id="root"></div>


    </div>
</div>
<!--shop  area end-->
<script>  
    goSell.showResult({
        callback: response => {
            console.log("callback", response);            
            var status = response.callback["status"];
            var transactionid = response.callback["id"];
         
            var paymentMethod = response.callback["source"].paymentMethod;
        
            if (status == "CAPTURED") {                
               $('#Result').html("Payment Successful");      
               
            }
            else {
                $('#Result').html("Payment Failed");              
            }

            var data = new FormData();
            data.append("Order_ID", @Order_ID);
            data.append("Payment_Status", status);
            data.append("Transaction_Id", transactionid);
            data.append("Payment_Method", paymentMethod);
            $.ajax({
                type: "POST",
                url: "/Order/UpdatePayment",
                data: data,
                contentType: false,
                processData: false,
                dataType: "json",
                //beforeSend: function () { $("#clientloader").css("display", "block"); },
                //complete: function () { $("#clientloader").css("display", "none"); },
                success: OnSuccessSaveCall,
                error: OnErrorSaveCall
            });

            function OnSuccessSaveCall(data) {
                if (data > "0") {
           
                    if (@GuestID > 0)
                    {
                        location.href = "/Login/MyAccount";
                    }
                }
                else
                {
                    return 0;
                }
            }

            function OnErrorSaveCall() {
                return 0;

            }
        }
    });
</script>

